#login_container {


    margin-top    : 120px;
    text-align    : center;
    display       : block;
    margin-bottom : 200px;

}


#login_form {

    display          : inline-block;
    width            : 350px;
    height           : 185px;
    background-image : url("Images/paper_texture.jpg");
    border-radius    : 20px;
    box-shadow       : 10px 10px 9px #888888;
    padding          : 20px;

}


.color_change:focus {

    border: 2px solid #9674db;
    box-shadow : 2px 2px 3px #c77bff;

}

