@font-face {

    font-family : pacifico;
    src         : url("Fonts/pacifico.ttf");
}


#center_panel {

    display    : block;
    margin-top : 150px;
    height     : 450px;

}


.left_center_container {

    display      : inline-block;
    border-right : 3px solid green ;
    width        : 220px;

}

.left_list_elem {

    list-style-type : none;


}

.left_list_elem li {

    margin-bottom  : 20px;
    width          : 160px;
    cursor         : pointer;

}


.left_list_elem li a {

    color           : black;
    text-decoration : none;
}


.right_center_container{

    position    : absolute;
    display     : inline-block;
    width       : 1200px;
    height      : 450px;
    margin-left : 100px;
    margin-top  : -50px;

}

.right_list_elem {

    list-style-type : none;

}


.right_list_elem li {

    margin-bottom : 20px;
    display       : inline;

}


.right_list_elem li a {

    text-decoration : none;
    color           : black;
    padding         : 90px;
    text-decoration : none;
    font-size       : 15px;

}

h4 {

    text-align    : center;
    margin-bottom : 40px;
}


.right_list_elem_profile {

    list-style-type : none;

}


.right_list_elem_profile li {

    margin-bottom : 20px;
    display       : block;

}



.right_list_elem_profile li a {

    text-decoration : none;
    color           : black;
    padding         : 90px;
    text-decoration : none;
    font-size       : 15px;

}

#submit_button {

    text-align : center;

}


.table_config{

    border     : 2px dotted black;
    padding    : 5px 40px;
    width      : 140px;
    text-align : center;

}

.black_border {

    margin : auto;
    border : 1px solid black;
}

.header_color {

   color : green;

}





/*#details_form {

    text-align : center;

}

#details_form label {

    width      : 180px;
    font-size  : 16px;
    display    : inline-block;
    text-align : center;

}

#details_form input {

   margin-left : 50px;
    box-shadow      : 2px 2px grey;


}*/






