#update_button {

    width            : 180px;
    margin-top       : 50px;
    padding          : 2px 10px;
    border-radius    : 8px;
    font-family      : pacifico;
    font-size        : 18px;
    color            : #FFF;
    background-color : #3498DB;
    text-shadow      : 4px 3px #2980B9;
    text-align       : center;

}


#update_button:active
{
    transform         : translate(3px,4px);
    -webkit-transform : translate(3px,4px);
    border-bottom     : 1px solid;
}


#details_form {

    position         : relative;
    width            : 950px;
    height           : 270px;
    padding          : 10px;
    margin           : 0 auto;



}

#details_form label {

    display   : inline-block;
    width     : 150px;
    font-size : 16px;

}


#details_form input {

    margin-left : 50px;
    box-shadow  : 2px 2px grey;

}


#upload_photo_panel{

    height      : 310px;
    width       : 250px;
    overflow    : hidden;
    display     : inline-block;
    text-align  : center;

}


#entry_details_panel {

    display     : inline-block;
    width       : 550px;
    height      : 275px;
    margin-left : 90px;

}


#profile_image {

    border        : 2px solid black;
    border-radius : 20px;
    width         : 215px;
    height        : 182px;
    margin-top    : 25px;
    display       : inline-block;
}


